<div class="tt-order-btn" *ngIf="isWidgetButton" (click)="openModal()" [style]="buttonCustomStyle">
  <div [ngClass]="{'tt-button': !isRectangleButton, 'tt-rectangle-button': isRectangleButton, 'rectangle-animation': isGlowing, 'tt-top': isTop, 'tt-bottom': isBottom, 'tt-left': isLeft, 'tt-right': isRight, 'tt-center': isCenter}">
    <div class="tt-button-text-container">
      <span class="tt-button-text">{{buttonText}}</span>
    </div>
  </div>
</div>

<div class="tt-wrapper-modal" [ngClass]="modalClass" [style]="modalCustomStyle">
  <div *ngIf="isActive" class="tt-overlay" (click)="clickOverlay()"></div>
  <div class="torrow-modal">
    <div *ngIf="isCloseButton">
      <i class="tt-button-close" (click)="closeModal();"></i>
    </div>
    <div class="tt-content" *ngIf="sanitizedUrl">
      <iframe class="tt-i-frame" [src]="sanitizedUrl" frameborder="0"></iframe>
    </div>
  </div>
</div>
