<div class="order-btn" *ngIf="isWidgetButton" (click)="openModal()" [style]="buttonCustomStyle">
  <div class="tt-button" [ngClass]="{'top': isTop, 'bottom': isBottom, 'left': isLeft, 'right': isRight, 'center': isCenter}">
    <div class="tt-button-text">
      <span>{{buttonText}}</span>
    </div>
  </div>
</div>

<div class="wrapper-modal" [ngClass]="modalClass" [style]="modalCustomStyle">
  <div *ngIf="isActive" class="overlay" (click)="clickOverlay()"></div>
  <div class="torrow-modal">
    <div *ngIf="isCloseButton">
      <i class="button-close" (click)="closeModal();"></i>
    </div>
    <div class="content" *ngIf="sanitizedUrl">
      <iframe class="i-frame" [src]="sanitizedUrl" frameborder="0"></iframe>
    </div>
  </div>
</div>
