// button
.tt-order-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tt-rectangle-button,
.tt-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed !important;
  height: var(--button-size) !important;
  box-sizing: border-box !important;
  cursor: pointer;
  z-index: 2147483647;
}

.tt-button {
  width: var(--button-size) !important;
}

.tt-rectangle-button {
  width: calc(var(--button-size) * 3) !important;
}

.tt-rectangle-button.tt-bottom,
.tt-button.tt-bottom {
  bottom: var(--bottom-margin) !important;
}

.tt-rectangle-button.tt-center,
.tt-button.tt-center {
  left: calc(50% - (var(--button-size) / 2));
  top: calc(50% - (var(--button-size) / 2));
}

.tt-rectangle-button.tt-top,
.tt-button.tt-top {
  top: var(--top-margin) !important;
}

.tt-rectangle-button.tt-right,
.tt-button.tt-right {
  right: var(--right-margin) !important;
}

.tt-rectangle-button.tt-left,
.tt-button.tt-left {
  left: var(--left-margin) !important;
}

.tt-rectangle-button::before,
.tt-button::before {
  content: '';
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  height: var(--button-size) !important;
  background-color: var(--button-color);
  opacity: .8 !important;
  box-sizing: border-box !important;
}

.tt-rectangle-button::before {
  width: calc(var(--button-size) * 3) !important;
  border-radius: 60px;
}

.tt-rectangle-button.rectangle-animation::before {
  animation: glowing 1300ms infinite;
}

.tt-button::before {
  border-radius: 100% !important;
  width: var(--button-size) !important;
}

.tt-button::after {
  content: '';
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  border-radius: 50% !important;
  color: var(--wave-color);
  border: 2px solid !important;
  width: 105%;
  height: 105%;
  opacity: .9 !important;
  box-sizing: border-box !important;
  animation: wave-stroke 2s infinite cubic-bezier(.37, 0, .8, .77);
  transform: translate(-50%, -50%) !important;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
  -webkit-animation: wave-stroke 2s infinite cubic-bezier(.37, 0, .8, .77);
  -moz-animation: wave-stroke 2s infinite cubic-bezier(.37, 0, .8, .77);
  -o-animation: wave-stroke 2s infinite cubic-bezier(.37, 0, .8, .77);
}

.tt-button .tt-button-text-container,
.tt-rectangle-button .tt-button-text-container {
  color: var(--text-color) !important;
  font-size: var(--font-size) !important;
  font-weight: var(--font-weight) !important;
  text-align: center !important;
  letter-spacing: 1.5px !important;
  font-family: var(--font-family) !important;
  z-index: 1;
}

.tt-button .tt-button-text-container {
  width: var(--text-button-width) !important;
  line-height: 25px !important;
}

.tt-button-text {
  margin: 0!important;
  padding: 0!important;
}

@-webkit-keyframes wave-stroke {
  100% {
    width: 200%;
    height: 200%;
    border-color: transparent;
    opacity: 0;
  }
}

@-moz-keyframes wave-stroke {
  100% {
    width: 200%;
    height: 200%;
    border-color: transparent;
    opacity: 0;
  }
}

@-o-keyframes wave-stroke {
  100% {
    width: 200%;
    height: 200%;
    border-color: transparent;
    opacity: 0;
  }
}

@keyframes wave-stroke {
  100% {
    width: 200%;
    height: 200%;
    border-color: transparent;
    opacity: 0;
  }
}

@keyframes glowing {
  0% {
    background-color: var(--button-color);
    box-shadow: 0 0 5px var(--button-color);
  }
  50% {
    background-color: var(--button-lighten-color);
    box-shadow: 0 0 20px var(--button-lighten-color);
  }
  100% {
    background-color: var(--button-color);
    box-shadow: 0 0 5px var(--button-color);
  }
}

// modal
.tt-wrapper-modal {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.tt-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2147483647;
  background-color: gray;
  opacity: 0.5;
}

.torrow-modal {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: var(--modal-width);
  max-height: var(--modal-height);
  z-index: 2147483647;
  background-color: #ffffff;
}

.tt-button-close {
  position: absolute;
  top: 5px;
  cursor: pointer;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  opacity: .85;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2228%22%20height%3D%2228%22%20viewBox%3D%220%200%2028%2028%22%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate(2%202)%22%3E%0A%20%20%20%20%20%20%20%20%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212%22%20fill%3D%22%23FFF%22%20opacity%3D%221%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%2212.75%22%20stroke%3D%22%23222D38%22%20stroke-width%3D%221.5%22%20opacity%3D%221%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cg%20fill%3D%22%23222D38%22%20opacity%3D%221%22%20transform%3D%22translate(6%206)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20width%3D%221.611%22%20height%3D%2213.9%22%20x%3D%225.435%22%20y%3D%22-.941%22%20rx%3D%22.806%22%20transform%3D%22rotate(45%206.24%206.01)%22%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20width%3D%221.611%22%20height%3D%2213.9%22%20x%3D%225.435%22%20y%3D%22-.941%22%20rx%3D%22.806%22%20transform%3D%22scale(-1%201)%20rotate(45%200%20-9.058)%22%2F%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
  z-index: 2147483647;
}

.tt-content {
  height: 100%;
}

.tt-i-frame {
  height: 100%;
  width: 100%;
}

.tt-right.active .torrow-modal {
  right: 0;
}

.tt-right .torrow-modal {
  right: -2450px;
}

.tt-left .torrow-modal {
  left: -2450px;
}

.tt-left.active .torrow-modal {
  left: 0;
}

.tt-center.active .torrow-modal {
  left: 50%;
}

.tt-center .torrow-modal {
  left: -2450px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tt-center .tt-button-close {
  right: 5px;
}

.tt-left .tt-button-close {
  right: -33px;
}

.tt-right .tt-button-close {
  left: -33px;
}

.tt-button-close:hover {
  opacity: 1;
}

@media (max-width: 458px) {
  .torrow-modal {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
  }

  .tt-left .tt-button-close {
    right: 5px;
  }

  .tt-right .tt-button-close {
    left: 5px;
  }
}
